body {
	padding-top: 50px;    /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
	color: #959595;
	}
	
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #dd845a;
	}
	
.feature {
	background: url('../images/home-header.jpg');
	background-position: center;
	background-size: cover;
	background-color: #dd845a;
	color: black;
	text-shadow: 2px 0px 4px white,2px 0px 4px white,2px 0px 4px white, 2px 0px 4px white, 2px 0px 4px white,2px 0px 4px white;
	text-align: center;
	
	}
	
.feature h1{
	
	    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    
}


.feature .btn {
	text-shadow: none;
	}
	
	
	
.container-fluid>.w3-content{
	
	position: relative;
 	
  
}

.container-fluid>.w3-content>.centered  {
	 
  	font-size: 25px;
	text-shadow: 2px 0px 4px #e19878,2px 0px 4px white,2px 0px 4px white;
	color: black;
  text-transform: up;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
}

	
.promo, .footer-map {
	border-width: 1px;
	border-color: black;
	border-top-style: solid;
	border-bottom-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
	}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 1px 1px 8px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}



.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    color:black;
   	text-shadow: 2px 0px 4px white,2px 0px 4px #e19878,2px 0px 4px white;
    
}

.promo-item:hover {
    background-size: 110%; 
    border: 5px solid black;
    line-height: 170px;
}

.item-1 {
	background: url('../images/promos_pianifica.jpg');

	}

	
.item-2 {
	background: url('../images/promos_ricerca.jpg');
	}
	

	

		
.item-1,
.item-2 {
	background-size: cover;
	background-position: 50% 50%;
	}

.featured-product > img,
.featured-product > a > img {
}

.featured-product h3 {
	color: #dd845a;
	font-size: 18px;
	}

.featured-product .price {
	color: #dd845a;
	font-size: 18px;
	}
	
.featured-product .price s {
	color: #999;
	font-size: 18px;
	}
	
.footer-map {
	height: 300px;
	width: 100%;
	background: url('../images/map.jpg');
	background-size: cover;
	border-color: #ccc;
	}
.footer-info {
    padding: 20px 0;
    background: #f7f7f7;
}

.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
    color: #959595;
	}

.footer-info h3 {
	color: black;
	font-size: 18px;
	}
    
.footer-info-item {
    padding: 0px 20px;
    }
    
footer .small-print {
	background-color: #fff;
	padding: 30px 0;
	text-align: center;
}






/*
*************************** 
Override Bootstrap Classes 
***************************
*/

/* Links */
a,
footer .small-print a,
.primoAccesso a{
	
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus,
.primoAccesso a:hover,
.primoAccesso a:focus,
footer .small-print a:hover,
footer .small-print a:focus{
  color: darkorange;
  text-decoration: underline;
}





/* Navbar */
.navbar-default {
  background-color: #fff;
}


.navbar-default .navbar-brand>.glyphicon-cutlery,
.navbar-default .navbar-brand>.glyphicon-cutlery:hover,
.navbar-default .navbar-brand>.glyphicon-cutlery:focus{
	
	color:#e19878;
}

.navbar-default .navbar-brand>.glyphicon-calendar,
.navbar-default .navbar-brand>.glyphicon-calendar:hover,
.navbar-default .navbar-brand>.glyphicon-calendar:focus{
	
	color:#8b9dc3;
}

.navbar-default .navbar-brand>.titolo-logo {
	
  font-size: 20px;
  color: gold;
  text-shadow: 0px 0px 4px #8b9dc3, 0px 0px 2px dimgrey;
  text-decoration:none;
  
}
.navbar-default .navbar-brand>.titolo-logo:hover,
.navbar-default .navbar-brand>.titolo-logo:focus{
	
	  color:goldenrod;
  background-color: transparent;
	
}






/* Place Holder e barra di ricerca con suggerimenti CSS */

.navbar-collapse>.navbar-form>.input-group>.input-group-btn>.btn,
button#btn-ricerca.btn.btn-default{
	border:1px solid #e19878;
	border-radius: 0px 3px 3px 0px;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e19878;
    
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 10px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out 0.5s,box-shadow ease-in-out .5s, placeholder text-indent 0.3s ease;
}

.form-control:focus {

	border: 1px solid #dc794e;
    box-shadow: 0 0 4px #dc794e;
    border-radius: 4px 0px 0px 4px;
    transition: placeholder ease-in 3s}
    
#spazio-ricerca{
	
	    border-radius: 3px 0px 0px 3px;
	
}
#spazio-ricerca:focus {    
	
    border: 1px solid #dc794e;
	box-shadow:0 0 4px #dc794e;
    border-radius: 4px 0px 0px 4px;	 
    transition: placeholder ease-in 3s;
	
}

#spazio-ricerca:focus ~ div #btn-ricerca{
	
    border: 1px solid #dc794e;
	box-shadow:0 0 4px #dc794e;
    border-radius:  0px 4px 4px 0px;	
    }
    
    
    
div#proviamo.sfondo_suggerimenti{  
    position: relative;
    text-align: left;
    margin-top: -1px;
    width:207px;
    cursor: default;
    -webkit-user-select: none;
    }
    
    
div.container_suggerimenti{
   	position:absolute;
   	width:207px;
   	background: #fff;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 1px solid #dc794e;
	box-shadow:0 0 4px #dc794e;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px; 
    overflow: hidden;
    z-index: 1;

    }
    
 


ul#lista-suggerimenti{
	
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

 li#eddai:hover{
	background-color:#e7e7e7;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


ul#lista-suggerimenti>li>a{
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	display: block;
    padding: 1px 1px 1px 7px;

    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
	text-decoration:none;
}



/* colonna laterale sinistra ricerca avanzata */

.side-bar{
	
	background-color: #ddd;
    padding: 25px 15px;
    
}

.side-bar.form-control:focus{
	border: 1px solid #dc794e;
    box-shadow: 0 0 4px #dc794e;
    border-radius: 4px 0px 0px 4px;
    transition: placeholder ease-in 3s
}

/*  parte di destra con risultati */


.product-sec1 {
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding: 30px 20px;
    margin-bottom: 14px;
}


.w3l-rightpro .product-men {
    margin: 0;
}
.product-men {
    float: left;
    width: 33%;
}

.men-pro-item {
    position: relative; 
       margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;   
}
.men-thumb-item {
    text-align: center;
    position: relative;
}

.men-thumb-item img{
	
  width: 100%; 
  height: 100%; 

}


.item-info-product h4 a {
    color: #000;
    /* font-size: 16px; */
}

.item-info-product h4 a {
    color: #000;
    font-size: 17px;
    letter-spacing: 1px;
}

.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
}

.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}


.item-info-product {
    margin-top: 40px;
    text-align: center;
}

.info-product-price {
    margin: 12px 0;
}

span.item_price {
    font-size: 18px;
    color: #d60404;
}

.snipcart-details {
    width: 77%;
    margin: 0 auto;
}

.snipcart-details input.button {
    font-size: 13px;
    color: #fff;
    background: #1accfd;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}

/*  Dettagli Prodotto*/
.flexslider {
    margin: 0 0 10px;
    background: #ffffff;
    border: 4px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider {
    margin: 0;
    padding: 0;
}
.flex-viewport {
    max-height: 450px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.banner-bootom-w3-agileits > div > h3 {
	
	text-align: center;
	margin-block-start:100px;
}


h3.tittle-w3l {
    color: #000;
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 20px;
}

.single-right-left h3 {
    font-size: 25px;
    color: #000;
    margin-bottom: 13px;
}

.single-right-left p {
    margin: 10px 0 15px;
}

.product-single-w3l {
    border-top: 1px solid #e19878;
}

.product-single-w3l p {
    color: #000;
    margin: 15px 0;
    letter-spacing: 0.5px;
}

.occasion-cart .snipcart-details {
    width: 38%;
    margin: 0;
}

.snipcart-details input.button {
    font-size: 13px;
    color: #fff;
    background: #e19878;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Primary Buttons */
.btn-primary,
#dettagli-prodotto-form > fieldset > input[type="submit"] {
  color: #fff;
  background-color: orange;
  border-color: orange;
  white-space:normal;
}
.btn-primary:focus,
.btn-primary.focus ,
  #dettagli-prodotto-form > fieldset > input[type="submit"]:focus{
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:hover,
  #dettagli-prodotto-form > fieldset > input[type="submit"]:hover {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: sandybrown;
  border-color: sandybrown;
}



button#nomeProdottoLink {
    background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#dd845a;
     cursor:pointer;
}

button#nomeProdottoLink:hover{
         text-decoration:underline;
}

input#dettagliProdottoBottone.btn.btn-primary.btn-block {    
	 
    background-color: slategray;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0px;
}

input#dettagliProdottoBottone.btn.btn-primary.btn-block:hover{
	
	background-color: darkslategray;	
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0px;
}

button#aggiungiProdottoDaListaBottone.btn.btn-primary.btn-block{
	
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 0px;
	
}


a#rivediOrdineBottone.btn.btn-primary.btn-block{
	
	background-color: #dfe5f3;
	border: 0px;
	
	color:white;
	font-size: 15px;
  text-shadow: 1px 1px 2px black, 0 0 20px black, 0 0 5px black;

	
}

a#rivediOrdineBottone.btn.btn-primary.btn-block:hover{
	
	background-color: #bac8e4;
	border: 0px;
	
	color:white;
	font-size: 17px;
  text-shadow: 1px 1px 2px black, 0 0 20px black, 0 0 5px black;
 
	
}

button#rimuoviIndirizzoBottone.btn.btn-primary.btn-block{
	
	background-color:#c66;
    border: 0px;	
}

button#rimuoviIndirizzoBottone.btn.btn-primary.btn-block:hover{
	
	    background-color: #a44;
	    border: 0px;	    
}

a#inserisciIndirizzoBottone.btn.btn-primary.btn-block{
	color:white;
	background-color: #8b9dc3;
    border: 0px;
    font-size:17px;
  text-shadow: 1px 1px 2px black, 0 0 20px black, 0 0 5px black;
  
}

a#inserisciIndirizzoBottone.btn.btn-primary.btn-block:hover{
	
		color:white;
	    background-color: #6981b2;
	    border: 0px;
	    font-size:18px;
  text-shadow: 1px 1px 2px black, 0 0 20px black, 0 0 5px black;
 
}

a#aggiungiNuovoIndirizzoBottone.btn.btn-primary.btn-block{
	
	background-color:#dfe3ee;
	border: 0px;
	color:darkslategray;
	
}

a#aggiungiNuovoIndirizzoBottone.btn.btn-primary.btn-block:hover{
	
	background-color: #8b9dc3;
	border: 0px;	
	
}


button#consegnaQuestoIndirizzoBottone.btn.btn-primary.btn-block{

	background-color: turquoise;
	border: 0px;
	
}


button#consegnaQuestoIndirizzoBottone.btn.btn-primary.btn-block:hover{
		background-color: darkturquoise;
	border: 0px;
	
}

a#scegliMetodoPagamentoBottone.btn.btn-primary.btn-block{
	
	color: white;
	background-color: #1e2e4f;
	font-size:17px;
	border:0px;
  text-shadow: 1px 1px 2px black, 0 0 20px black, 0 0 5px black;
	
	
}

a#scegliMetodoPagamentoBottone.btn.btn-primary.btn-block:hover{
	
	color:white;
 	background-color: #10192a;
    font-size:18px;
    border:0px;
  text-shadow: 1px 1px 2px black, 0 0 20px black, 0 0 5px black;
 

	
}


button#pagamentoContrassegnoBottone.btn.btn-primary.btn-block{
	
	
    display: table;
    margin: 0 auto;
    max-width: 250px;
    
    background-color: #3e3939;
    border:0px;
      text-shadow: 1px 1px 2px black, 0 0 15px black, 0 0 5px black;
    
}

button#pagamentoContrassegnoBottone.btn.btn-primary.btn-block:hover{
	
	
    display: table;
    margin: 0 auto;
    max-width: 250px;
    font-size:15px;
    background-color: #1b1818;
    border:0px;
      text-shadow: 1px 1px 2px black, 0 0 15px black, 0 0 5px black;
    
}
